#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    grid-template-areas: "A B";
    
    min-height: 100vh;
    overflow: auto;

    aside {
        grid-area: B;
        
        .aside-container{
            padding: 4rem;
            position: fixed;
        }

        .icon-img {
                width: 100%;
            }

            .ilustration-img {
                margin: auto;
                max-width: 100%;
                min-width: 15rem;
                height: auto;
                padding: 0.5rem;
                
                img {
                    width: 100%;
                    height: auto;
                    margin: auto;
                }
            }
    }
    
    #main-container {
    padding: 4rem; 
    }

    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
        height: 100vh;
        

        aside {
            background-color: var(--surface-secondary);
            
            .aside-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.5rem;
                padding: 2rem;
                position: unset;
                padding: 2rem;
                
            }

            
        }

        #main-container {
                    padding: 2rem;
                    max-width: 33rem;
                    
                }
    }



}
